---
import { sections, routes } from "./routes";

const currentPath = Astro.url.pathname;

const { class: className } = Astro.props;
---

<nav class={className}>
	<ul>
		{
			sections.map((section) => (
				<div class="section">
					<span class="title">{section}</span>
					<ul>
						{routes
							.filter((route) => route.section === section)
							.map(({ section, route }) => (
								<li>
									<a
										href={`/${section}/${route}`}
										aria-current={currentPath.endsWith(route) ? "page" : null}
									>
										{route}
									</a>
								</li>
							))}
					</ul>
				</div>
			))
		}
	</ul>
</nav>

<style>
	nav {
		overflow: auto;
		height: 100%;
		border-right: 1px solid rgba(255 255 255 / 0.2);
	}

	ul {
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	.section {
		padding: 1em;
	}

	.title {
		display: block;
		opacity: 0.8;
		font-size: 0.9em;
		margin-bottom: 0.5em;
	}

	li {
		display: flex;
	}

	a {
		padding: 0.5em 1em;
		width: 100%;
		text-decoration: none;
		color: #fff;
		border-radius: 0.25em;
		transition: 100ms background-color;

		&:hover,
		&:focus-visible {
			background-color: rgba(255 255 255 / 0.1);
		}

		&[aria-current="page"] {
			color: orange;
			background-color: rgba(255 255 255 / 0.15);
		}
	}
</style>
